name: CI

on:
  push:
    branches: [ master, main ]
  pull_request:
    types: [opened, synchronize, reopened, edited]
    branches: [ master, main ]

jobs:
  conventional-commits:
    name: Check Conventional Commits
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: read
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Check conventional commits
        uses: tomtom-international/commisery-action/check@v4
        with:
          token: ${{ github.token }}
          pull-request: ${{ github.event.number }}

  license-header:
    name: Check License Headers
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Check License Headers
        uses: apache/skywalking-eyes/header@v0.8.0
        with:
          mode: check
          config: .licenserc.yaml

  build:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v6
    
    - name: Set up JDK 17
      uses: actions/setup-java@v5
      with:
        java-version: '17'
        distribution: 'temurin'
    
    - name: Setup Android SDK
      uses: android-actions/setup-android@v3
    
    - name: Grant execute permission for gradlew
      run: chmod +x gradlew
    
    - name: Build with Gradle
      run: ./gradlew clean build test check jacocoTestReport publishToMavenLocal -Pversion=1.0.0-SNAPSHOT
    
    - name: Build Playground
      run: |
        chmod +x .scripts/build_playground.sh
        ./.scripts/build_playground.sh 1.0.0-SNAPSHOT
    
    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v5
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
        files: ./build/reports/jacoco/test/jacocoTestReport.xml
        fail_ci_if_error: true
        verbose: true # optional (default = false)
